<div class="section-lg m-top6">
        <div class="container">
          <div class="row">
            <div class="title1 text-center m-bottom5">
              <h2 class="uppercase"><span class="line blueline"></span>
                <span class="uppercase font-grey font-bold font14">
                    {{'LABELS.HIRE.PLAN' | translate}}
                </span><br>
                {{'LABELS.HIRE.KNOW_PLANS' | translate}}
            </h2>
            </div>

            <div class="col-md-3 col-sm-4 m-bottom4" *ngFor="let index of plans">
              <div class="property">
                <div class="post-img"><a [routerLink]="'/store'">
                    <img class="img-responsive" alt="" src="https://placeholdit.imgix.net/~text?txtsize=50&amp;txt=700%C3%97500&amp;w=700&amp;h=500"></a> 
                        <span class="property-price" *ngIf="index.price" >${{index.price}}.00</span></div>
                <div class="property-dis">
                  <h2 class="font20"><a [routerLink]="'/store'">{{index.title + '.TITLE' | translate}}</a></h2>
                  <p>{{index.title + '.TITLE' | translate}}</p>
                </div>
              </div>
            </div>




          </div>
        </div>
      </div>