<div id="services" class="section-lg m-top5 m-bottom6">
    <div class="container content-page">
        <h2 class="font-slim-xs font-black font40 uppercase">
            {{'LABELS.SERVICES.TITLE' | translate}}
        </h2>
        <div class="title-line wide50 color m-top2"></div>
        <div class="col-md-6 col-sm-6 m-bottom1">
            <div class="content-feature-col one">
                <div class="icon-box-col">
                    <span class="icon-feed"></span>
                </div>
                <div class="left-padd10">
                    <h2 class="font-black serviceText uppercase m-bottom1">
                        {{'LABELS.SERVICES.INTERNET.TITLE' | translate}}
                    </h2>
                    <div class="title-line color m-top2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 m-bottom1">
            <div class="content-feature-col one">
                <div class="icon-box-col">
                    <span class="icon-speedometer"></span>
                </div>
                <div class="left-padd10">
                    <h2 class="font-black serviceText uppercase m-bottom1">
                        {{'LABELS.SERVICES.DEVIVERY.TITLE' | translate}}
                    </h2>
                    <div class="title-line color m-top2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 m-bottom1">
            <div class="content-feature-col one">
                <div class="icon-box-col">
                    <span class="icon-speech"></span>
                </div>
                <div class="left-padd10">
                    <h2 class="font-black serviceText uppercase m-bottom1">
                        {{'LABELS.SERVICES.SMS.TITLE' | translate}}
                    </h2>
                    <div class="title-line color m-top2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 m-bottom1">
            <div class="content-feature-col one">
                <div class="icon-box-col">
                    <span class="icon-call-in"></span>
                </div>
                <div class="left-padd10">
                    <h2 class="font-black serviceText uppercase m-bottom1">
                        {{'LABELS.SERVICES.RECEIVE.TITLE' | translate}}
                    </h2>
                    <div class="title-line color m-top2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 m-bottom1">
            <div class="content-feature-col one">
                <div class="icon-box-col">
                    <span class="icon-call-out"></span>
                </div>
                <div class="left-padd10">
                    <h2 class="font-black serviceText uppercase m-bottom1">
                        {{'LABELS.SERVICES.COVER.TITLE' | translate}}
                    </h2>
                    <div class="title-line color m-top2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 m-bottom1">
            <div class="content-feature-col one">
                <div class="icon-box-col">
                    <span class="icon-plane"></span>
                </div>
                <div class="left-padd10">
                    <h2 class="font-black serviceText uppercase m-bottom1">
                        {{'LABELS.SERVICES.PLANS.TITLE' | translate}}
                    </h2>
                    <div class="title-line color m-top2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 m-bottom1">
            <div class="content-feature-col one">
                <div class="icon-box-col">
                    <span class="icon-trophy"></span>
                </div>
                <div class="left-padd10">
                    <h2 class="font-black serviceText uppercase m-bottom1">
                        {{'LABELS.SERVICES.PLUS.TITLE' | translate}}
                    </h2>
                    <div class="title-line color m-top2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 m-bottom1">
            <div class="content-feature-col one">
                <div class="icon-box-col">
                    <span class="icon-call-out"></span>
                </div>
                <div class="left-padd10">
                    <h2 class="font-black serviceText uppercase m-bottom1">
                        {{'LABELS.SERVICES.UNLIMITED_CALL.TITLE' | translate}}
                    </h2>
                    <div class="title-line color m-top2"></div>
                </div>
            </div>
        </div>

    </div>
</div>