<div class="page-header five"  [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
  <div class="container" >
    <div class="col-md-6 left-padd0" >
      <h3 class="font30 nomargin white uppercase">{{'LABELS.CONCACT_US' | translate}}</h3>
      <h4 class="font18 white font-thin">{{'LABELS.CONCACT_HEADER_TEXT' | translate}}</h4>
    </div>
    <div class="col-md-6" >
      <div class="pagenation"><a [routerLink]="'/'">Home</a> <i>/</i> Contact Style 1</div>
    </div>
  </div>
</div>

<div class="section-lg one">
  <div class="container">
    <div class="row">
      <div class="col-md-4" [@animate]="{value:'10',params:{duration:'800ms',x:'-100%'}}">
        <div class="address-info">
          <h2 class="uppercase m-bottom2">Address Info</h2>
          <p>Feel free to talk to our online representative at any time you please using our Live Chat system on our website or one of the below instant messaging programs.</p>
          <br>
          <p>Please be patient while waiting for response. (24/7 Support!) <strong>Phone General Inquiries: +1 (012) 345 6789</strong></p>
          <br>
        </div>
        <!-- end section -->
        
        <div class="address-info">
          <h4 class="uppercase m-bottom2 font-bold">Address Info Two</h4>
          <ul class="address-info map">
            <li><i class="fa fa-map-marker"></i> 15 Barnes Wallis Way, 358744, USA</li>
            <li><i class="fa fa-phone"></i> +1 (012) 345 6789</li>
            <li><i class="fa fa-envelope"></i> info@yourdomain.com</li>
          </ul>
        </div>
        <!-- end section --> 
      </div>
      <div class="col-md-8"  [@animate]="{value:'10',params:{duration:'800ms',x:'100%'}}">
      <h2 class="uppercase">send us a message</h2>
        <form class="sky-form" id="sky-form" method="post" action="demo-contacts.php">
          
          <fieldset>
            <div class="row">
              <section class="col col-6">
                <label class="label">Name</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" id="name" name="name">
                </label>
              </section>
              <section class="col col-6">
                <label class="label">E-mail</label>
                <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                  <input type="email" id="email" name="email">
                </label>
              </section>
            </div>
            <section>
              <label class="label">Subject</label>
              <label class="input"> <i class="icon-append fa fa-tags"></i>
                <input type="text" id="subject" name="subject">
              </label>
            </section>
            <section>
              <label class="label">Message</label>
              <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                <textarea id="message" name="message" rows="4"></textarea>
              </label>
            </section>
            <section style="float:left;">
              <label class="checkbox">
                <input type="checkbox" id="copy" name="copy">
                <i></i>Send a copy to my e-mail address</label>
            </section>
          </fieldset>
          <footer>
            <button class="button" type="submit">Send message</button>
          </footer>
          <div class="message"> <i class="icon-ok"></i>
            <p>Your message was successfully sent!</p>
          </div>
        </form>
      </div>
      <!-- end section --> 
      
    </div>
  </div>
</div>