<div id="facts" class="section-lg m-top5">
    <div class="two-color-boxes-bgimg">
        <div class="container">
            <div class="col-md-4 left-padd0 right-padd4 m-bottom3">
                <h2 class="font-slim-xs white font40 uppercase">
                    {{'LABELS.FACTS.ABOUT_US.TITLE' | translate}}
                </h2>
                <div class="title-line wide50 white m-top1"></div>
                <p class="white">
                    {{'LABELS.FACTS.ABOUT_US.DESC' | translate}}
                </p>
            </div>



            <div class="col-md-7 no-right-padd m-left85">
                <div class="col-md-4 col-sm-4 m-bottom4">
                    <div class="counters3">
                        <span id="costumersSize" class="font70 font-slim-xs white" [innerHtml]="costumersSize"></span>
                        <p class="white font15 uppercase m-top-1">
                            {{'LABELS.CUSTOMERS_SIZE' | translate}}
                        </p>
                        <div class="title-line color m-top2"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 m-bottom4">
                    <div class="counters3">
                        <span id="hoursSold" class="font70 font-slim-xs white" [innerHtml]="hoursSold"></span>
                        <p class="white font15 uppercase m-top-1">
                            {{'LABELS.HOURS_SOLD' | translate}}
                        </p>
                        <div class="title-line color m-top2"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 m-bottom4">
                    <div class="counters3">
                        <span id="facebookLikes" class="font70 font-slim-xs white" [innerHtml]="facebookLikes"></span>
                        <p class="white font15 uppercase m-top-1">
                            {{'LABELS.FACEBOOK_LIKES' | translate}}
                        </p>
                        <div class="title-line color m-top2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>