<div class="sec-titiel m-bottom5">
    <h3 class="uppercase font-black font20 nomargin">
        {{'LABELS.HEADER_TUTORIAL' | translate}}
    </h3>
    <span class="uppercase font-grey font-bold font14">
        {{'LABELS.HEADER_TUTORIAL_SUB_TITLE' | translate}}
    </span>
    <ul class="listSteps">
        <li class="m-top1">{{'LABELS.LIST.POINT.0' | translate}}</li>
        <li class="m-top1">{{'LABELS.LIST.POINT.1' | translate}}</li>
        <li class="m-top1">{{'LABELS.LIST.POINT.2' | translate}}</li>
        <li class="m-top1">{{'LABELS.LIST.POINT.3' | translate}}</li>
        <li class="m-top1"><strong>iOS/Apple: </strong>{{'LABELS.LIST.POINT.4' | translate}}</li>
        <li class="m-top1"><strong>Android: </strong>{{'LABELS.LIST.POINT.5' | translate}}</li>
    </ul>
    <span class="font-bold font14 m-top3">
        {{'LABELS.FOOTER_TEXT' | translate}}
    </span>
</div>