<div class="master-slider ms-skin-default" id="masterslider">

    <div class="ms-slide slide-1" data-delay="14">

        <img src="../assets/images/masterslider/blank.gif" data-src="../assets/images/sliders/home/first.jpg" alt="Slide1 background"
        />
        <h3 class="ms-layer text1 one full-wid text-center white uppercase" style="left:0; top:200px;" data-type="text" data-delay="1500"
            data-duration="2000" data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">Web Design - Web Development - UX Design</h3>
        <h3 class="ms-layer title2 one font-sbold white uppercase text-center" style="left:0;top: 245px;" data-type="text" data-delay="2000"
            data-duration="2500" data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">We are Create team</h3>
        <h5 class="ms-layer text1 full-wid white uppercase text-center" style="left:0px; top: 335px;" data-type="text" data-effect="bottom(45)"
            data-duration="3000" data-delay="2500" data-ease="easeOutExpo">Development dolor sit amet consectetur adipiscing Phasellus</h5>
        <a class="ms-layer btn1 uppercase" style="left: 530px; top:405px;" data-type="text" data-delay="3000" data-ease="easeOutExpo"
            data-duration="2000" data-effect="scale(1.5,1.6)"> Learn More
            <i class="fa fa-arrow-circle-right"></i>
        </a>
        <a class="ms-layer btn2 uppercase" style="left: 700px; top:405px;" data-type="text" data-delay="3200" data-ease="easeOutExpo"
            data-duration="2200" data-effect="scale(1.5,1.6)"> Purchase Now!
            <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
    <div class="ms-slide slide-2" data-delay="14">
        <img src="../assets/images/masterslider/blank.gif" data-src="../assets/images/sliders/home/second.jpg" alt="Slide1 background"
        />
        <img src="../assets/images/masterslider/blank.gif" data-src="../assets/images/sliders/home/mobile.png" alt="Master Slider in Macbook"
            style="left:800px; top:80px;" class="ms-layer" data-type="image" data-delay="1000" data-duration="3000" data-ease="easeOutExpo"
            data-effect="scalefrom(1.1,1.1,190,0)" />
        <h3 class="ms-layer title3 white" style="left:110px; top:205px;" data-type="text" data-delay="1500" data-duration="2000"
            data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">Clean, Effective</h3>
        <h3 class="ms-layer title2 font-sbold white uppercase" style="left:110px;top: 260px;" data-type="text" data-delay="2000"
            data-duration="2500" data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">Web Development</h3>
        <h5 class="ms-layer text1 white uppercase" style="left:110px; top:345px;" data-type="text" data-effect="bottom(45)" data-duration="3000"
            data-delay="2500" data-ease="easeOutExpo">Development dolor sit amet consectetur adipiscing Phasellus</h5>
        <a class="ms-layer btn1 uppercase" style="left:110px; top:410px;" data-type="text" data-delay="3000" data-ease="easeOutExpo"
            data-duration="2000" data-effect="scale(1.5,1.6)"> Learn More
            <i class="fa fa-arrow-circle-right"></i>
        </a>
        <a class="ms-layer btn2 uppercase" style="left:280px; top:410px;" data-type="text" data-delay="3200" data-ease="easeOutExpo"
            data-duration="2200" data-effect="scale(1.5,1.6)"> Purchase Now!
            <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
    <div class="ms-slide slide-2" data-delay="14">
        <img src="../assets/images/masterslider/blank.gif" data-src="https://placeholdit.imgix.net/~text?txtsize=80&txt=1920%C3%97600&w=1920&h=600"
            alt="Slide1 background" />
        <h3 class="ms-layer text1 one full-wid text-center white uppercase" style="left:0; top:200px;" data-type="text" data-delay="1500"
            data-duration="2000" data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">Web Design - Web Development - UX Design</h3>
        <h3 class="ms-layer title2 one font-sbold white uppercase text-center" style="left:0;top: 245px;" data-type="text" data-delay="2000"
            data-duration="2500" data-ease="easeOutExpo" data-effect="rotate3dtop(-100,0,0,40,t)">We are Create team</h3>
        <h5 class="ms-layer text1 full-wid white uppercase text-center" style="left:0px; top: 335px;" data-type="text" data-effect="bottom(45)"
            data-duration="3000" data-delay="2500" data-ease="easeOutExpo">Development dolor sit amet consectetur adipiscing Phasellus</h5>
        <a class="ms-layer btn1 uppercase" style="left: 530px; top:405px;" data-type="text" data-delay="3000" data-ease="easeOutExpo"
            data-duration="2000" data-effect="scale(1.5,1.6)"> Learn More
            <i class="fa fa-arrow-circle-right"></i>
        </a>
        <a class="ms-layer btn2 uppercase" style="left: 700px; top:405px;" data-type="text" data-delay="3200" data-ease="easeOutExpo"
            data-duration="2200" data-effect="scale(1.5,1.6)"> Purchase Now!
            <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>

<services></services>
<wherebuy></wherebuy>
<plans></plans>