<div class="page-header five" [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
  <div class="container">
    <div class="col-md-6 left-padd0">
      <h3 class="font30 nomargin white uppercase">{{'LABELS.CUSTOMERS' | translate}}</h3>
      <h4 class="font18 white font-thin">{{'LABELS.CUSTOMERS_HEADER_TEXT' | translate}}</h4>
    </div>
    <div class="col-md-6">
      <div class="pagenation">
        <a [routerLink]="'/'">Home</a>
        <i>/</i>{{'LABELS.PAGE' | translate}}</div>
    </div>
  </div>
</div>

<div class="section-lg">
  <div class="container" [@animate]="{value:'100',params:{duration:'600ms',y:'100%'}}">
    <div class="row content-page">


      <div class="col-md-12 faq-accordion-header">
        <div id="location-search" class="cbp-l-filters-underline">
          <div data-filter=".list" class="cbp-filter-item cbp-filter-item-active">
              {{'LABELS.CUSTOMERS_SEARCH.LIST' | translate}}
          </div>
          <div data-filter=".search" class="cbp-filter-item">
              {{'LABELS.CUSTOMERS_SEARCH.MAP' | translate}}
          </div>
        </div>
        <div id="js-grid-faq" class="cbp cbp-l-grid-faq">
          <div class="cbp-item list">
            <div class="cbp-caption">
              <div class="cbp-caption-defaultWrap">
                <i class="fa fa-check-circle-o"></i>BRASIL</div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body font15">
                  <a href="#" class="row">LINK DO REPRESENTANTE1</a>
                  <a href="#" class="row">LINK DO REPRESENTANTE2</a>
                  <a href="#" class="row">LINK DO REPRESENTANTE3</a>

                </div>
              </div>
            </div>
          </div>
          <div class="cbp-item search">
            <div class="progress-info">Awesomeness
              <span class="right">80%</span>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100" style="width: 80%">
                <span class="sr-only">80% Complete</span>
              </div>
            </div>
            <div class="col-md-4" [@animate]="{value:'10',params:{duration:'800ms',x:'-100%'}}">
              <form id="sky-form" name="customerForm" class="sky-form" [formGroup]="formCustomer">
                <h2 class="m-bottom2">{{'LABELS.LOCATION.HEADER' | translate}}</h2>
                <fieldset>
                  <mat-form-field fxLayout="column" fxFlex="100">
                    <mat-select placeholder="{{'LABELS.LOCATION.CONTRY' | translate}}" [value]="country">
                      <mat-option value="ALL">{{'LABELS.CONTRY.ALL' | translate}}</mat-option>
                      <mat-option value="BR">{{'LABELS.CONTRY.BRAZIL' | translate}}</mat-option>
                      <mat-option value="EN">{{'LABELS.CONTRY.USA' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field fxLayout="column" fxFlex="100">
                    <mat-select [disabled]="country === null" placeholder="{{'LABELS.LOCATION.STATE' | translate}}">
                      <mat-option value="ALL">{{'LABELS.STATE.ALL' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field fxLayout="column" fxFlex="100">
                    <mat-select [disabled]="country === null" placeholder="{{'LABELS.LOCATION.CITY' | translate}}">
                      <mat-option value="ALL">{{'LABELS.CITY.ALL' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </fieldset>
                <footer>
                  <button class="button">
                    {{'LABELS.LOCATION.SEARCH' | translate}}
                  </button>
                </footer>
              </form>
            </div>
            <div class="col-md-8" [@animate]="{value:'10',params:{duration:'800ms',x:'100%'}}">
              <h2 class="uppercase m-bottom2">{{'LABELS.LOCATION.MAP' | translate}}</h2>
              <iframe width="425" height="360" class="fullwide" src="https://maps.google.co.in/maps?sll=34.0204989,-118.4117325&amp;sspn=0.8745562,1.4073488&amp;cid=16298491244936825076&amp;q=Los+Angeles,+CA,+USA&amp;ie=UTF8&amp;hq=&amp;hnear=Los+Angeles,+Los+Angeles+County,+California,+United+States&amp;t=m&amp;ll=34.052234,-118.243685&amp;spn=0.697085,0.848982&amp;output=embed"
                style="pointer-events: none;"></iframe>
            </div>
          </div>
        </div>
      </div>



      <!-- end section -->



    </div>
  </div>
</div>