<div class="page-header five" [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
  <div class="container">
    <div class="col-md-6 left-padd0">
      <h3 class="font30 nomargin white uppercase">{{'LABELS.FAQs.TITLE' | translate}}</h3>
      <h4 class="font18 white font-thin">{{'LABELS.FAQs.SUB_TITLE' | translate}}</h4>
    </div>
    <div class="col-md-6">
      <div class="pagenation">
        <a href="index.html">Home</a>
        <i>/</i> FAQs</div>
    </div>
  </div>
</div>
<!-- end page header -->

<div class="section-lg one">
  <div class="container" [@animate]="{value:'100',params:{duration:'600ms',y:'100%'}}">
    <div class="row">
      <div class="col-md-12">
        <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group fullwide">
          <div class="panel panel-default">
            <div id="headingOne" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" 
                data-toggle="collapse" role="button">{{'LABELS.FAQs.TOPICS.TITLE.0' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne">
              <div class="panel-body">{{'LABELS.FAQs.TOPICS.BODY.0' | translate}}</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingTwo" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed"> {{'LABELS.FAQs.TOPICS.TITLE.1' | translate}} </a>
              </h4>
            </div>
            <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo">
              <div class="panel-body">{{'LABELS.FAQs.TOPICS.BODY.1' | translate}} </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingThree" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.2' | translate}} </a>
              </h4>
            </div>
            <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree">
              <div class="panel-body">{{'LABELS.FAQs.TOPICS.BODY.2' | translate}} </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingFour" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseFour" aria-expanded="false" href="#collapseFour" data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.3' | translate}} </a>
              </h4>
            </div>
            <div aria-labelledby="headingFour" role="tabpanel" class="panel-collapse collapse" id="collapseFour">
              <div class="panel-body">{{'LABELS.FAQs.TOPICS.BODY.3' | translate}}</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingFive" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseFive" aria-expanded="false" href="#collapseFive" data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.4' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse collapse" id="collapseFive">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.4' | translate}}</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingSix" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseSix" aria-expanded="false" href="#collapseSix" data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.5' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingSix" role="tabpanel" class="panel-collapse collapse" id="collapseSix">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.5' | translate}}</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingSeven" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseSeven" aria-expanded="false" href="#collapseSeven" data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed"> {{'LABELS.FAQs.TOPICS.TITLE.6' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingSeven" role="tabpanel" class="panel-collapse collapse" id="collapseSeven">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.6' | translate}} </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingEight" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseEight" aria-expanded="false" href="#collapseEight" data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed"> {{'LABELS.FAQs.TOPICS.TITLE.7' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingEight" role="tabpanel" class="panel-collapse collapse" id="collapseEight">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.7' | translate}} </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingNine" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseNine" aria-expanded="false" href="#collapseNine" data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.8' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingNine" role="tabpanel" class="panel-collapse collapse" id="collapseNine">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.8' | translate}} </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingTen" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseTen" aria-expanded="false" href="#collapseTen" data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.9' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingTen" role="tabpanel" class="panel-collapse collapse" id="collapseTen">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.9' | translate}} </div>
            </div>
          </div>



          <div class="panel panel-default">
            <div id="headingEleven" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseEleven" aria-expanded="false" href="#collapseEleven" 
                  data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.10' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingEleven" role="tabpanel" class="panel-collapse collapse" id="collapseEleven">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.10' | translate}} </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div id="headingTwenvy" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseTwenvy" aria-expanded="false" href="#collapseTwenvy" 
                  data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.11' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingTwenvy" role="tabpanel" class="panel-collapse collapse" id="collapseTwenvy">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.11' | translate}} </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div id="headingThirteen" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseThirteen" aria-expanded="false" href="#collapseThirteen" 
                  data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.12' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingThirteen" role="tabpanel" class="panel-collapse collapse" id="collapseThirteen">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.12' | translate}} </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div id="headingFourteen" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseFourteen" aria-expanded="false" href="#collapseFourteen" 
                  data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.13' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingFourteen" role="tabpanel" class="panel-collapse collapse" id="collapseFourteen">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.13' | translate}} </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div id="headingFifteen" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseFifteen" aria-expanded="false" href="#collapseFifteen" 
                  data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.14' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingFifteen" role="tabpanel" class="panel-collapse collapse" id="collapseFifteen">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.14' | translate}} </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div id="headingSixteen" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseSixteen" aria-expanded="false" href="#collapseSixteen" 
                  data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.15' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingSixteen" role="tabpanel" class="panel-collapse collapse" id="collapseSixteen">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.15' | translate}} </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div id="headingSeventeen" role="tab" class="panel-heading">
              <h4 class="panel-title">
                <a aria-controls="collapseSeventeen" aria-expanded="false" href="#collapseSeventeen" 
                  data-parent="#accordion" data-toggle="collapse"
                  role="button" class="collapsed">{{'LABELS.FAQs.TOPICS.TITLE.16' | translate}}</a>
              </h4>
            </div>
            <div aria-labelledby="headingSeventeen" role="tabpanel" class="panel-collapse collapse" id="collapseSeventeen">
              <div class="panel-body"> {{'LABELS.FAQs.TOPICS.BODY.16' | translate}} </div>
            </div>
          </div>







        </div>
      </div>

    </div>
  </div>
</div>