<div class="page-header five" [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
  <div class="container">
    <div class="col-md-6 left-padd0">
      <h3 class="font30 nomargin white uppercase">{{'LABELS.WHERE_BUY_TITLE' | translate}}</h3>
      <h4 class="font18 white font-thin">{{'LABELS.WHERE_BUY_TITLE_SUB' | translate}}</h4>
    </div>
    <div class="col-md-6">
      <div class="pagenation">
        <a [routerLink]="'/'">Home</a>
        <i>/</i>
        <a [routerLink]="'/checkActivation'">{{'LABELS.CHECK_ACTIVATION' | translate}}</a>
        <i>/</i>
        {{'LABELS.CHOOSE_BUY_PAGE' | translate}}
      </div>
    </div>
  </div>
</div>

<div class="section-lg one">
  <div class="container" [@animate]="{value:'100',params:{duration:'600ms',y:'100%'}}">
    <div class="row">
      <div class="col-md-9">
        <h2 class="font30 uppercase">
          {{'LABELS.CART.TITLE' | translate}}
        </h2>

        <div class="recommend-content">
          <div class="item">
            <div class="item-detail">
              <div class="item-thumb">
                <a href="#">
                  <img alt="" src="https://placeholdit.imgix.net/~text?txtsize=50&amp;txt=100%C3%97100&amp;w=100&amp;h=100">
                </a>
              </div>
              <div class="product-title">
                <h3 class="m-top2">
                  <a href="#">Women's Fashion</a>
                </h3>
              </div>
              <div class="product-price blue font-bold font20 m-bottom1">$85.00</div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="widget m-bottom4">
          <h5 class="uppercase font18 m-bottom2">
            Search
          </h5>
          <form class="" method="post" role="form" action="index.html" id="widget-subscribe-form2" novalidate="novalidate">
            <div class="input-group input-group-lg one divcenter newsletter" style="max-width:600px;">
              <input type="email" placeholder="Enter your Email" class="form-control required email" name="widget-subscribe-form-email"
                aria-required="true">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default uppercase">Search</button>
              </span>
            </div>
          </form>
        </div>
        <div class="widget m-bottom4">
        </div>
      </div>
    </div>
  </div>
</div>