<div class="page-header five" [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
  <div class="container">
    <div class="col-md-6 left-padd0">
      <h3 class="font30 nomargin white uppercase">{{'LABELS.ACTIVATE' | translate}}</h3>
      <h4 class="font18 white font-thin">{{'LABELS.ACTIVATE_HEADER_TEXT' | translate}}</h4>
    </div>
    <div class="col-md-6">
      <div class="pagenation">
        <a [routerLink]="'/'">Home</a>
        <i>/</i>{{'LABELS.PAGE' | translate}}</div>
    </div>
  </div>
</div>
<div class="section-lg one">
  <div class="container" [@animate]="{value:'100',params:{duration:'600ms',y:'100%'}}">
    <div class="row content-page">

        <div *ngIf="statusActivate" class="col-md-12 m-bottom6">
          <div class="progress-info">{{'LABELS.PROGRESS' | translate}}
            <span class="right">{{process}}%</span>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" 
                role="progressbar" aria-valuenow="10" aria-valuemin="0"
              aria-valuemax="100" [style.width]="process + '%'">
              <span class="sr-only">80% Complete</span>
            </div>
          </div>
        </div>  

      <p class="paragraf col-md-12">
        {{'LABELS.TEXT.ACTIVATION.EXPLAIN' | translate}}
        <a (click)="openDialog($event)" > {{'LABELS.TEXT.TUTORIAL' | translate}}</a>
        {{'LABELS.TEXT.ACTIVATION.CONTACT_US' | translate}}
      </p>

      

      <p class="paragraf col-md-12">
        {{'LABELS.TEXT.ACTIVATION.INPUT' | translate}}
      </p>
      <form id="sky-form" name="customerForm" class="sky-form" [formGroup]="formActivation">
        <div class="form-group barCodeFormGroup col-md-12">
            <mat-form-field fxLayout="column" fxFlex="100">
              <input matInput formControlName="codigo" [required]="true" [(ngModel)]="codigo" 
                  placeholder="{{'LABELS.TEXT.ACTIVATION.BAR_CODE_HOLDER' | translate}}">
            </mat-form-field>
        </div>

        <span class="col-md-8"></span>

        <button [disabled]="!codigo" class="button col-md-2 startActivation" (click)="activate($event)"  >
          {{'LABELS.TEXT.ACTIVATION.CONFIRM' | translate}}
        </button>
      </form>

    </div>
  </div>
</div>