<div class="page-header five" [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
  <div class="container">
    <div class="col-md-6 left-padd0">
      <h3 class="font30 nomargin white uppercase">{{'LABELS.ACTIVATE' | translate}}</h3>
      <h4 class="font18 white font-thin">{{'LABELS.ACTIVATE_HEADER_TEXT' | translate}}</h4>
    </div>
    <div class="col-md-6">
      <div class="pagenation">
        <a [routerLink]="'/'">Home</a>
        <i>/</i>{{'LABELS.PAGE' | translate}}</div>
    </div>
  </div>
</div>
<div class="section-lg one">
  <div class="container" [@animate]="{value:'100',params:{duration:'600ms',y:'100%'}}">
      CHECKOUT
  </div>
</div>