.paragraf{
    font-size: 16px;
    padding: 10px;
}

.barCodeFormField{
    padding: 10px; 
    cursor: pointer;
}

.barCodeInput{
    cursor: pointer;
    margin: 0px 10px 25px 10px;
}

.startActivation{
    margin: 0px 10px 30px 10px;
}
