<div class="page-header five"  [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
  <div class="container" >
    <div class="col-md-6 left-padd0" >
      <h3 class="font30 nomargin white uppercase">{{'LABELS.HEADER.OUR_LOCATION' | translate}}</h3>
      <h4 class="font18 white font-thin">{{'LABELS.HEADER.OUR_LOCATION_SUB' | translate}}</h4>
    </div>
    <div class="col-md-6" >
      <div class="pagenation"><a [routerLink]="'/'">Home</a> <i>/</i>{{'LABELS.PAGE' | translate}}</div>
    </div>
  </div>
</div>

<div class="section-lg">
  <div class="container">
    <div class="row content-page">
      <div class="col-md-4" [@animate]="{value:'10',params:{duration:'800ms',x:'-100%'}}" >
              <div class="address-info">
                <h2 class="uppercase m-bottom2">Address Info</h2>
                <p>Feel free to talk to our online representative at any time you please using our Live Chat system on our website or one of the below instant messaging programs.</p>
                <br>
                <p>Please be patient while waiting for response. (24/7 Support!) <strong>Phone General Inquiries: +1 (012) 345 6789</strong></p>
                <br>
              </div>
              <!-- end section -->
              
              <div class="address-info">
                <h4 class="uppercase m-bottom2 font-bold">Address Info Two</h4>
                <ul class="address-info map">
                  <li><i class="fa fa-map-marker"></i> 15 Barnes Wallis Way, 358744, USA</li>
                  <li><i class="fa fa-phone"></i> +1 (012) 345 6789</li>
                  <li><i class="fa fa-envelope"></i> info@yourdomain.com</li>
                </ul>
              </div>
              <!-- end section --> 
      </div>
      <div class="col-md-8" [@animate]="{value:'10',params:{duration:'800ms',x:'100%'}}" >
        <h2 class="uppercase m-bottom2">{{'LABELS.LOCATION.MAP' | translate}}</h2>
        <iframe width="425" height="360" class="fullwide" src="https://maps.google.co.in/maps?sll=34.0204989,-118.4117325&amp;sspn=0.8745562,1.4073488&amp;cid=16298491244936825076&amp;q=Los+Angeles,+CA,+USA&amp;ie=UTF8&amp;hq=&amp;hnear=Los+Angeles,+Los+Angeles+County,+California,+United+States&amp;t=m&amp;ll=34.052234,-118.243685&amp;spn=0.697085,0.848982&amp;output=embed" style="pointer-events: none;"></iframe>
      </div>
      <!-- end section -->
  

      
    </div>
  </div>
</div>