/**
 *  Master Slider
 *  Default Skin
 */

.ms-skin-default .ms-slide .ms-slide-vpbtn, .ms-skin-default .ms-video-btn {
	width: 50px;
	height: 51px;
	background: url(light-skin-1.png) no-repeat -14px -150px;
	top: 50%;
	left: 50%;
	margin: 0px 0 0 -25px;
}
.ms-skin-default .ms-slide .ms-slide-vcbtn {
	width: 30px;
	height: 30px;
	background: url(light-skin-1.png) no-repeat -24px -28px;
	top: 18px;
	right: 30px;
}
/* controls */

.ms-skin-default .ms-nav-next, .ms-skin-default .ms-nav-prev {
	width: 30px;
	background: url(light-skin-1.png);
	background-position: -89px -26px;
	height: 40px;
	cursor: pointer;
	top: 50%;
	left: 30px;
	margin-top: -20px;
	position: absolute;
	z-index: 110;
}
.ms-skin-default .ms-nav-next {
	right: 30px;
	left: auto;
	background-position: -89px -103px;
}
.ms-skin-default .ms-bullet {
	width: 10px;
	height: 10px;
	background: url(light-skin-1.png) no-repeat;
	margin: 4px;
	background-position: -34px -117px;
}
.ms-skin-default .ms-bullet-selected {
	background-position: -34px -84px;
}
.ms-skin-default .ms-time-bar {
	height: 3px;
	background: #FFFFFF;
	border-top: solid 1px rgba(0, 0, 0, 0.41);
}
.ms-skin-default .ms-tooltip {
	position: absolute;
	z-index: 210;
	cursor: auto;
}
.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow, .ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow {
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	position: absolute;
	left: 50%;
	margin-left: -10px;
}
.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow {
	border-top: solid 10px;
	border-top-color: silver;
	border-top-color: rgba(240, 240, 240, 0.88);
	bottom: -10px;
}
.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow {
	border-bottom: solid 10px;
	border-bottom-color: silver;
	border-bottom-color: rgba(240, 240, 240, 0.88);
	top: -10px;
}
.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow, .ms-skin-default .ms-tooltip-left .ms-tooltip-arrow {
	border-top: solid 10px transparent;
	border-bottom: solid 10px transparent;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}
.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow {
	border-right: solid 10px;
	border-right-color: silver;
	border-right-color: rgba(240, 240, 240, 0.88);
	left: -10px;
}
.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow {
	border-left: solid 10px;
	border-left-color: silver;
	border-left-color: rgba(240, 240, 240, 0.88);
	right: -10px;
}
.ms-skin-default .ms-tooltip-point {
	cursor: pointer;
}
.ms-skin-default .ms-tooltip-point .ms-point-center {
	width: 12px;
	height: 12px;
	border-radius: 15px;
	border: solid 2px #BBB;
	background: white;
	margin: -8px 0 0 -8px;
	position: absolute;
	z-index: 105;
}
.ms-skin-default .ms-tooltip-point .ms-point-border {
	width: 22px;
	height: 22px;
	background: black;
	background:rgba(0, 0, 0, 0.36);
	margin: -11px 0 0 -11px;
	position: absolute;
	border-radius: 15px;
	animation: point-anim 1.5s infinite;
	-moz-animation: point-anim 1.5s infinite;
	-webkit-animation: point-anim 1.5s infinite;
	-o-animation: point-anim 1.5s infinite;
}
.ms-skin-default .ms-tooltip {
	max-width:200px;
}
.ms-skin-default .ms-tooltip-cont {
	padding: 10px;
	background: silver;
	background: rgba(240, 240, 240, 0.88);
	text-shadow: 0 1px 0px white;
	margin-left: -1px;
}
/*title and buttons*/
.uppercase {
	text-transform:uppercase;
}
.ms-layer.title1 {
	font-size:70px;
	font-weight:100;
}
.ms-layer.title2 {
	font-size:65px;
	font-weight:normal;
}
.ms-layer.title2.one {
	width:100%;
}
.ms-layer.title2.f65 {
	font-size:65px;
	font-weight:normal;
}
.ms-layer.title3 {
	font-size:40px;
	font-weight:100;
}
.ms-layer.text1 {
	font-size:16px;
	font-weight:normal;
	line-height:35px;
}
.ms-layer.text1.one {
	font-size:13px;
	font-weight:normal;
	letter-spacing:3px;
}
.ms-layer.text1.line-one {
	font-size:18px;
	font-weight:normal;
	line-height:25px;
}
.ms-layer.title4 {
	font-size:50px;
	font-weight:100;
	width:100%;
}
.ms-layer.title5 {
	font-size:65px;
	font-weight:400;
	width:100%;
}
.ms-layer.title6 {
	font-size:35px;
	font-weight:300;
	width:100%;
}
.ms-layer.title7 {
	font-size:35px;
	font-weight:normal;
	width:100%;
}
.ms-layer.title8 {
	font-size:20px;
	font-weight:300;
	width:100%;
	line-height:35px;
}
.ms-layer.btn1 {
	border-radius:30px;
	padding:16px 30px;
	background-color:#009ff0;
	color:#FFF;
	cursor:pointer;
	font-size:13px;
	transition: all 0.3s ease-out 0s;
}
.ms-layer.btn1:hover {
	background-color:#FFF;
	color:#009ff0;
}
.ms-layer.btn2 {
	border-radius:30px;
	padding:16px 30px;
	background-color:#fff;
	color:#009ff0;
	cursor:pointer;
	font-size:13px;
	transition: all 0.3s ease-out 0s;
}
.ms-layer.btn2:hover {
	background-color:#009ff0;
	color:#fff;
}
.ms-layer.btn3 {
	border-radius:0px;
	padding:20px 35px;
	background-color:#009ff0;
	color:#FFF;
	cursor:pointer;
	font-size:16px;
	transition: all 0.3s ease-out 0s;
}
.ms-layer.btn3:hover {
	background-color:#FFF;
	color:#009ff0;
}
.ms-layer.btn4 {
	border-radius:0px;
	padding:20px 35px;
	background-color:#fff;
	color:#009ff0;
	cursor:pointer;
	font-size:16px;
	transition: all 0.3s ease-out 0s;
}
.ms-layer.btn4:hover {
	background-color:#009ff0;
	color:#fff;
}



/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
 .ms-skin-default .ms-slide .ms-slide-vpbtn, .ms-skin-default .ms-video-btn, .ms-skin-default .ms-slide .ms-slide-vcbtn, .ms-skin-default .ms-nav-next, .ms-skin-default .ms-nav-prev, .ms-skin-default .ms-bullet {
 background-image:url(light-skin-1-retina.png);
 background-size: 152px 225px;
}
}
