<div class="col-topbar">
    <div class="container">
        <div class="col-md-3 nopadding">
            <ul class="social-icons style-two">
                <li class="left-padd0">
                    <a href="https://www.facebook.com/plussimtravel/">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="last">
                    <a href="https://www.instagram.com/plussim_travel/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 nopadding">
            <ul class="col-top-menu menu-right">
                <li>
                    <a [routerLink]="'/comingSoon'">
                        <i class="fa fa-lock"></i>{{'LABELS.LOGIN' | translate}}</a>
                </li>
                <li>
                    <a [routerLink]="'/comingSoon'">
                        <i class="fa fa-user"></i> {{'LABELS.REGISTER' | translate}}</a>
                </li>
                
                <li>
                    <a [routerLink]="'/comingSoon'">
                        <i class="fa fa-comments"></i>{{'LABELS.LIVE.CHAT' | translate}}</a>
                </li>

                <li>
                    <a [routerLink]="'/comingSoon'">
                        <i class="fa fa-envelope"></i>{{'LABELS.CONTACT.US' | translate}}</a>
                </li>

                <li>
                    <i class="fa fa-phone"></i> + 1 (321) 310-2281 / + 1 (321) 310-4764
                </li>

            </ul>
        </div>
    </div>
</div>