<div class="page-header five" [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
  <div class="container">
    <div class="col-md-6 left-padd0">
      <h3 class="font30 nomargin white uppercase">{{'LABELS.HEADER.TITLE' | translate}}</h3>
      <h4 class="font18 white font-thin">{{'LABELS.HEADER.TITLE_SUB' | translate}}</h4>
    </div>
    <div class="col-md-6">
      <div class="pagenation">
        <a [routerLink]="'/'">Home</a>
        <i>/</i> {{'LABELS.HEADER.TITLE' | translate}} </div>
    </div>
  </div>
</div>
<div class="section-lg">
  <div class="container">
    <form name="choosePlan" class="sky-form" [formGroup]="choosePlan">

      <div class="row selectPlan content-page">
        <div class="col-md-5" fxHide fxShow.gt-sm [@animate]="{value:'10',params:{duration:'800ms',x:'-100%'}}">
          <img alt="" src="https://placeholdit.imgix.net/~text?txtsize=50&amp;txt=700%C3%97600&amp;w=700&amp;h=600">

        </div>
        <div class="col-md-6" [@animate]="{value:'10',params:{duration:'800ms',x:'100%'}}">
          <h2 class="font-black font30 uppercase m-bottom1">{{'LABELS.TITLE.STORE' | translate}}</h2>
          <div class="title-line wide50 color m-top2"></div>
          <div class="product-rating m-bottom2">
          </div>

          <div class="product-price red font-bold font25 m-bottom1" *ngIf="selectedPlan.price">
            ${{selectedPlan.price}}.00
          </div>

          <ul class="list-group padding-10">
            <li class="list-group">
              <i class="fa fa-check"></i>
              {{'LABELS.DESCRIPTION.DESC01' | translate}}
            </li>
            <li class="list-group">
              <i class="fa fa-check"></i>
              {{'LABELS.DESCRIPTION.DESC02' | translate}}
            </li>
            <li class="list-group">
              <i class="fa fa-check"></i>
              {{'LABELS.DESCRIPTION.DESC03' | translate}}
            </li>
            <li class="list-group">
              <i class="fa fa-check"></i>
              {{'LABELS.DESCRIPTION.DESC04' | translate}}
            </li>
            <li class="list-group">
              <i class="fa fa-check"></i>
              {{'LABELS.DESCRIPTION.DESC05' | translate}}
            </li>
            <li class="list-group">
              <i class="fa fa-check"></i>
              {{'LABELS.DESCRIPTION.DESC06' | translate}}
            </li>
            <li class="list-group">
              <i class="fa fa-check"></i>
              {{'LABELS.DESCRIPTION.DESC07' | translate}}
            </li>
            <li class="list-group">
              <i class="fa fa-check"></i>
              {{'LABELS.DESCRIPTION.DESC08' | translate}}
            </li>

          </ul>


          <div class="col-sm-12 m-bottom3 m-top3">
            <mat-form-field fxLayout="column" fxFlex="100">
              <mat-select [(ngModel)]="selectedPlan" (change)="select($event);" formControlName="plan" placeholder="{{'LABELS.DAYS_NUMBER' | translate}}">
                <mat-option *ngFor="let index of plans" [value]="index">{{index.title | translate}}</mat-option>
                <mat-option [value]="moreThan">{{'LABELS.DAYS.MORE.THAN.THIRTY' | translate}}</mat-option>
                <mat-option [value]="custom">{{'LABELS.DAYS.CUSTOM' | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="col-sm-12 m-bottom3 m-top3">

            <mat-form-field class="sliderDays" fxLayout="column" fxFlex="100" *ngIf="showCustomDays">
              <input matInput formControlName="quantityDays" type="number" (change)="changeDays($event)" [(ngModel)]="quantityDays" placeholder="{{'LABELS.DAYS.CUSTOM_QTD' | translate}}">
            </mat-form-field>

          </div>

          <div class="col-sm-12 m-bottom3">
            <p class="padding-10" *ngIf="contactUs">{{'LABELS.MORE_THAN_30_CONTANCT' | translate}}</p>
            <button class="button" *ngIf="contactUs" [routerLink]="'/concact'">
              {{'LABELS.MORE_THAN_30_BUTTON' | translate}}
            </button>
            <button class="button" *ngIf="!contactUs" (click)="addOnCart($event);">
              {{'LABELS.ADD_TO_CART' | translate}}
            </button>
          </div>
        </div>
      </div>
    </form>



  </div>
</div>