.recommend-content{
    height: 400px;
    overflow-y: auto;
}

.padding-10{
    padding: 10px;
}

.tabs-desc{
    margin-top: 100px;
}

.daysSelect{
    padding-left: 10px;
    padding-right: 10px;
}

.sliderDays{
    width: 100%;
}

.section-lg {
    margin-top: 10px;
}

.selectPlan{
    margin-top: 30px;
    margin-bottom: 30px;
}

.item-thumb{
    margin-left: 20px;
}

.item:hover{
    background: #1cbac8;
    transition: background 0.3s ease-in-out;
    .product-price{
        color: black !important;
        transition: color 0.3s ease-in-out;
    }
}

.selected-plan{
    background: #741be7;
    transition: background 0.3s ease-in-out;
    .product-price{
        color: black !important;
        transition: color 0.3s ease-in-out;
    }
}