<footer class="footer-bg-color m-top1">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4 class="white font20 font-thin">{{'LABELS.ABOUT_THE_COMPANY' | translate}}</h4>
        <div class="title-line"></div>
        <ul class="address-info map">
          <li>
            <i class="fa fa-map-marker"></i>
            6100 Lake Ellenor Drive Suite 151 Orlando, Flórida 32809
          </li>

          <li>
            <i class="fa fa-phone"></i> + 1 (321) 310-2281 - WhatsApp 
          </li>

          <li>
            <i class="fa fa-phone"></i> + 1 (321) 310-4764 - WhatsApp 
          </li>

          <li>
            <i class="fa fa-envelope"></i>info@plussim.com
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>
<div class="copyrights">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-top1"> Copyright &copy; 2015 yourdomian. All rights reserved. </div>
      <div class="col-md-6">
        <ul class="social-icons style-three">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>