<mat-sidenav-container>

  <div class="site-wrapper">

    <toolbar-plus-sim></toolbar-plus-sim>

    <header-plus-sim #header [sideNaveBar]="sideNaveBar" [parentMenus]="parentMenus"></header-plus-sim>

    <router-outlet></router-outlet>

    <footer-plus-sim></footer-plus-sim>
  </div>

  <mat-sidenav #sideNaveBar align="end">

    <div class="btn-group btn-group-toggle col-md-12 langMenu" data-toggle="buttons">
      <label *ngFor="let lang of langs" class="btn btn-secondary {{isSelected(lang) ? 'active': ''}}" (click)="changeLang($event, lang)">
        <img class="flag mr-16" [src]="'assets/images/flags/'+lang.flag+'.png'">
        <input type="radio" *ngIf="isSelected(lang)" [name]="lang.title" autocomplete="off" checked>
        <input type="radio" *ngIf="isSelected(lang)" [name]="lang.title" autocomplete="off">
      </label>
    </div>

    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group fullwide col-md-12">
      <div class="panel panel-default row">
        <div id="cart" role="tab" class="panel-heading">
          <h4 class="panel-title">
            <a aria-controls="cartcollapse" aria-expanded="false" href="#cartcollapse" data-parent="#accordion" fxLayoutAlign="start end"
              fxFlex="100" fxLayout="row" data-toggle="collapse" role="button" class="collapsed menu-side-item">
              <i class="icon-sidemenu fa fa-shopping-cart"></i>
              <label>0 item(s) :</label>
              <label>$0.00</label>
            </a>
          </h4>
        </div>
        <div aria-labelledby="cart" role="tabpanel" class="panel-collapse collapse" id="cartcollapse">
          <div class="panel-body" (click)="sideNaveBar.toggle();" [routerLink]="'/'">
              {{'LABELS.VIEW.CART' | translate}}
          </div>
          <div class="panel-body" (click)="sideNaveBar.toggle();" [routerLink]="'/'">
            {{'LABELS.VIEW.CHECKOUT' | translate}}
          </div>
        </div>
      </div>
      <div class="panel panel-default row" *ngFor="let parent of parentMenus">
        <div [id]="parent.name" role="tab" *ngIf="parent.children" class="panel-heading">
          <h4 class="panel-title">
            <a [attr.aria-controls]="parent.name + 'collapse'" aria-expanded="false" [href]="'#' + parent.name + 'collapse'" data-parent="#accordion"
              fxLayoutAlign="start end" fxFlex="100" fxLayout="row" data-toggle="collapse" role="button" class="collapsed menu-side-item">
              <i class="icon-sidemenu fa fa-angle-down"></i>
              <label>{{parent.title | translate}}</label>
            </a>
          </h4>
        </div>

        <div [id]="parent.name" role="tab" *ngIf="!parent.children" class="panel-heading">
          <h4 class="panel-title">
            <a [routerLink]="parent.link" (click)="sideNaveBar.toggle();" role="button" class="collapsed menu-side-item">
              {{parent.title | translate}}</a>
          </h4>
        </div>



        <div [attr.aria-labelledby]="parent.name" role="tabpanel" class="panel-collapse collapse" [id]="parent.name + 'collapse'">
          <div *ngFor="let child of parent.children" class="panel-body" (click)="sideNaveBar.toggle();" [routerLink]="child.link">
            {{child.title | translate}}
          </div>
        </div>
      </div>
    </div>

  </mat-sidenav>
</mat-sidenav-container>

<a href="#" class="scrollup"></a>