:host{

    #accordion{
        .panel-title{
            padding: 10px;
        }

        
    }
    
    .cdk-overlay-pane{
        width: 100%;
    }

    .menuMatCart{
        background: #FAF;
    }
    .icon-sidemenu{
        padding: 3px;
    }

    .cart-buy{
        width: 100%;
        height: 61px;
    }

    .langMenu{
        width: 100%;
        margin: 10px;
    }

}