
<div class="site-wrapper">
  <!-- topnav -->

  <toolbar-plus-sim>

  </toolbar-plus-sim>


  <!-- topnav end -->
  <header-plus-sim>

  </header-plus-sim>
  

  <!-- end Header --> 
  
  <!-- Master Slider -->
  <div class="master-slider ms-skin-default" id="masterslider"> 
    
    <!-- slide 1 -->
    <div class="ms-slide slide-1" data-delay="14"> 
      
      <!-- slide background --> 
      <img src="../assets/images/masterslider/blank.gif" data-src="https://placeholdit.imgix.net/~text?txtsize=80&txt=1920%C3%97600&w=1920&h=600" alt="Slide1 background"/>
      <h3 class="ms-layer text1 one full-wid text-center white uppercase"
			style="left:0; top:200px;"
			data-type="text"
			data-delay="1500"
		 	data-duration="2000"
		 	data-ease="easeOutExpo"
		 	data-effect="rotate3dtop(-100,0,0,40,t)">Web Design  -  Web Development  -  UX Design</h3>
      <h3 class="ms-layer title2 one font-sbold white uppercase text-center"
			style="left:0;top: 245px;"
			data-type="text"
			data-delay="2000"
		 	data-duration="2500"
		 	data-ease="easeOutExpo"
		 	data-effect="rotate3dtop(-100,0,0,40,t)">We are Create team</h3>
      <h5 class="ms-layer text1 full-wid white uppercase text-center"
        	style="left:0px; top: 335px;"
            data-type="text"
            data-effect="bottom(45)"
            data-duration="3000"
            data-delay="2500"
            data-ease="easeOutExpo">Development dolor sit amet consectetur adipiscing Phasellus</h5>
      <a class="ms-layer btn1 uppercase"
			style="left: 530px; top:405px;"
			data-type="text"
			data-delay="3000"
			data-ease="easeOutExpo"
			data-duration="2000"
			data-effect="scale(1.5,1.6)"> Learn More <i class="fa fa-arrow-circle-right"></i> </a> <a class="ms-layer btn2 uppercase"
			style="left: 700px; top:405px;"
			data-type="text"
			data-delay="3200"
			data-ease="easeOutExpo"
			data-duration="2200"
			data-effect="scale(1.5,1.6)"> Purchase Now! <i class="fa fa-arrow-circle-right"></i></a> </div>
    <!-- end of slide --> 
    
    <!-- slide 2 -->
    <div class="ms-slide slide-2" data-delay="14"> 
      
      <!-- slide background --> 
      <img src="../assets/images/masterslider/blank.gif" data-src="https://placeholdit.imgix.net/~text?txtsize=80&txt=1920%C3%97600&w=1920&h=600" alt="Slide1 background"/>
      <img src="../assets/images/masterslider/blank.gif" data-src="https://placeholdit.imgix.net/~text?txtsize=50&txt=500%C3%97485&w=500&h=485" alt="Master Slider in Macbook"
		 	  style="left:800px; top:80px;"
		 	  class="ms-layer"
		 	  data-type="image"
		 	  data-delay="1000"
		 	  data-duration="3000"
		 	  data-ease="easeOutExpo"
		 	  data-effect="scalefrom(1.1,1.1,190,0)"/>
      <h3 class="ms-layer title3 white"
			style="left:110px; top:205px;"
			data-type="text"
			data-delay="1500"
		 	data-duration="2000"
		 	data-ease="easeOutExpo"
		 	data-effect="rotate3dtop(-100,0,0,40,t)">Clean, Effective</h3>
      <h3 class="ms-layer title2 font-sbold white uppercase"
			style="left:110px;top: 260px;"
			data-type="text"
			data-delay="2000"
		 	data-duration="2500"
		 	data-ease="easeOutExpo"
		 	data-effect="rotate3dtop(-100,0,0,40,t)">Web Development</h3>
      <h5 class="ms-layer text1 white uppercase"
        	style="left:110px; top:345px;"
            data-type="text"
            data-effect="bottom(45)"
            data-duration="3000"
            data-delay="2500"
            data-ease="easeOutExpo">Development dolor sit amet consectetur adipiscing Phasellus</h5>
      <a class="ms-layer btn1 uppercase"
			style="left:110px; top:410px;"
			data-type="text"
			data-delay="3000"
			data-ease="easeOutExpo"
			data-duration="2000"
			data-effect="scale(1.5,1.6)"> Learn More <i class="fa fa-arrow-circle-right"></i> </a> <a class="ms-layer btn2 uppercase"
			style="left:280px; top:410px;"
			data-type="text"
			data-delay="3200"
			data-ease="easeOutExpo"
			data-duration="2200"
			data-effect="scale(1.5,1.6)"> Purchase Now! <i class="fa fa-arrow-circle-right"></i></a> </div>
    <!-- end of slide --> 
    
    <!-- slide 3 -->
    <div class="ms-slide slide-2" data-delay="14"> 
      
      <!-- slide background --> 
      <img src="../assets/images/masterslider/blank.gif" data-src="https://placeholdit.imgix.net/~text?txtsize=80&txt=1920%C3%97600&w=1920&h=600" alt="Slide1 background"/>
      <h3 class="ms-layer text1 one full-wid text-center white uppercase"
			style="left:0; top:200px;"
			data-type="text"
			data-delay="1500"
		 	data-duration="2000"
		 	data-ease="easeOutExpo"
		 	data-effect="rotate3dtop(-100,0,0,40,t)">Web Design  -  Web Development  -  UX Design</h3>
      <h3 class="ms-layer title2 one font-sbold white uppercase text-center"
			style="left:0;top: 245px;"
			data-type="text"
			data-delay="2000"
		 	data-duration="2500"
		 	data-ease="easeOutExpo"
		 	data-effect="rotate3dtop(-100,0,0,40,t)">We are Create team</h3>
      <h5 class="ms-layer text1 full-wid white uppercase text-center"
        	style="left:0px; top: 335px;"
            data-type="text"
            data-effect="bottom(45)"
            data-duration="3000"
            data-delay="2500"
            data-ease="easeOutExpo">Development dolor sit amet consectetur adipiscing Phasellus</h5>
      <a class="ms-layer btn1 uppercase"
			style="left: 530px; top:405px;"
			data-type="text"
			data-delay="3000"
			data-ease="easeOutExpo"
			data-duration="2000"
			data-effect="scale(1.5,1.6)"> Learn More <i class="fa fa-arrow-circle-right"></i> </a> <a class="ms-layer btn2 uppercase"
			style="left: 700px; top:405px;"
			data-type="text"
			data-delay="3200"
			data-ease="easeOutExpo"
			data-duration="2200"
			data-effect="scale(1.5,1.6)"> Purchase Now! <i class="fa fa-arrow-circle-right"></i></a> </div>
    <!-- end of slide --> 
  </div>
  <!-- end Master Slider -->
  
  <div class="section-lg m-top8">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div>
            <div class="post-img"> <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=980%C3%97635&w=980&h=653" alt="" class="img-responsive"> </div>
            <h3 class="uppercase font-black font20 m-top3">Who we are</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error si voluptatem accusantium doloremque laudantium totam aperiam sit tempor inc amet.</p>
            <div class="title-line wide50 color m-top2"></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div>
            <div class="post-img"> <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=980%C3%97635&w=980&h=653" alt="" class="img-responsive"> </div>
            <h3 class="uppercase font-black font20 m-top3">What we do</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error si voluptatem accusantium doloremque laudantium totam aperiam sit tempor inc amet.</p>
            <div class="title-line wide50 color m-top2"></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div>
            <div class="post-img"> <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=980%C3%97635&w=980&h=653" alt="" class="img-responsive"> </div>
            <h3 class="uppercase font-black font20 m-top3">Our Vission</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error si voluptatem accusantium doloremque laudantium totam aperiam sit tempor inc amet.</p>
            <div class="title-line wide50 color m-top2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end features section 1 -->
  
  <div class="section-lg m-top5">
    <div class="two-color-boxes-bgimg">
      <div class="container">
        <div class="col-md-4 left-padd0 right-padd4 m-bottom3">
          <h2 class="font-slim-xs white font40 uppercase">Facts About Us</h2>
          <div class="title-line wide50 white m-top1"></div>
          <p class="white">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
        </div>
        <div class="col-md-7 no-right-padd m-left85">
          <div class="col-md-4 col-sm-4 m-bottom4">
            <div class="counters3"> <span id="target" class="font70 font-slim-xs white">3256</span>
              <p class="white font15 uppercase m-top-1">Develop Apps</p>
              <div class="title-line color m-top2"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 m-bottom4">
            <div class="counters3"> <span id="target2" class="font70 font-slim-xs white">2585</span>
              <p class="white font15 uppercase m-top-1">hours of work</p>
              <div class="title-line color m-top2"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 m-bottom4">
            <div class="counters3"> <span id="target4" class="font70 font-slim-xs white">3560</span>
              <p class="white font15 uppercase m-top-1">feedbacks</p>
              <div class="title-line color m-top2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end features section 2 -->
  
  <div class="section-lg m-top5">
    <div class="container">
      <h2 class="font-slim-xs font-black font40 uppercase">What we Provide You</h2>
      <p class="font18">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat aliquip ex.</p>
      <div class="title-line wide50 color m-top2"></div>
      <div class="col-md-6 col-sm-6 m-bottom1">
        <div class="content-feature-col one">
          <div class="icon-box-col"> <span class="icon-cup"></span> </div>
          <div class="left-padd10">
            <h2 class="font-black font20 uppercase m-bottom1">Multi-Purpose</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam.</p>
            <div class="title-line color m-top2"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 m-bottom1">
        <div class="content-feature-col one">
          <div class="icon-box-col"> <span class="icon-screen-desktop"></span> </div>
          <div class="left-padd10">
            <h2 class="font-black font20 uppercase m-bottom1">Retina Ready</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam.</p>
            <div class="title-line color m-top2"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 m-bottom1">
        <div class="content-feature-col active one">
          <div class="icon-box-col"> <span class="icon-call-out"></span> </div>
          <div class="left-padd10">
            <h2 class="font-black font20 uppercase m-bottom1">Easy to use</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam.</p>
            <div class="title-line color m-top2"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 m-bottom1">
        <div class="content-feature-col one">
          <div class="icon-box-col"> <span class="icon-rocket"></span> </div>
          <div class="left-padd10">
            <h2 class="font-black font20 uppercase m-bottom1">Unlimited Options</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam.</p>
            <div class="title-line color m-top2"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 m-bottom1">
        <div class="content-feature-col one">
          <div class="icon-box-col"> <span class="icon-social-dropbox"></span> </div>
          <div class="left-padd10">
            <h2 class="font-black font20 uppercase m-bottom1">Tons of Shortcodes</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam.</p>
            <div class="title-line color m-top2"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 m-bottom1">
        <div class="content-feature-col one">
          <div class="icon-box-col"> <span class="icon-call-out"></span> </div>
          <div class="left-padd10">
            <h2 class="font-black font20 uppercase m-bottom1">24/7 Support</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam.</p>
            <div class="title-line color m-top2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end features section 3 -->
  
  <div class="section-lg m-top4">
    <div class="col-md-6 nopadding">
      <div class="col-video white text-right"> <i class="fa fa-youtube-play font60 right"></i>
        <h3 class="font25 font-thin">Wach our video tour</h3>
        <h4>Excepteur sint occaecat cupidatat non proident</h4>
      </div>
    </div>
    <div class="col-md-6 nopadding">
      <div class="col-parallax white"> <i class="fa fa-eye font60 left"></i>
        <h3 class="font25 font-thin">Parallax Effects</h3>
        <h4>Excepteur sint occaecat cupidatat non proident</h4>
      </div>
    </div>
  </div>
  <!-- end features section 4 -->
  
  <div class="section-lg m-top5">
    <div class="container">
      <h2 class="font-slim-xs font-black font40 uppercase">Our recent Works</h2>
      <p class="font18">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat aliquip ex.</p>
      <div class="title-line wide50 color m-top2"></div>
      <div class="container">
        <div id="js-grid-lightbox-gallery" class="cbp">
          <div class="cbp-item web-design graphic print motion"> <a href="js/cubeportfolio/ajax-lightbox-gallery/project1.html" class="cbp-caption cbp-singlePageInline" data-title="Suspendisse et justo<br>by UXLiner" rel="nofollow">
            <div class="cbp-caption-defaultWrap"> <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=380%C3%97300&w=380&h=300" alt=""> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Suspendisse et justo</div>
                  <div class="cbp-l-caption-desc">by UXLiner</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item web-design logos identity graphic"> <a href="js/cubeportfolio/ajax-lightbox-gallery/project1.html" class="cbp-caption cbp-singlePageInline" data-title="Suspendisse et justo<br>by UXLiner" rel="nofollow">
            <div class="cbp-caption-defaultWrap"> <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=380%C3%97300&w=380&h=300" alt=""> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Suspendisse et justo</div>
                  <div class="cbp-l-caption-desc">by UXLiner</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item graphic print identity"> <a href="js/cubeportfolio/ajax-lightbox-gallery/project1.html" class="cbp-caption cbp-singlePageInline" data-title="Suspendisse et justo<br>by UXLiner" rel="nofollow">
            <div class="cbp-caption-defaultWrap"> <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=380%C3%97300&w=380&h=300" alt=""> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Suspendisse et justo</div>
                  <div class="cbp-l-caption-desc">by UXLiner</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item web-design motion logos"> <a href="js/cubeportfolio/ajax-lightbox-gallery/project1.html" class="cbp-caption cbp-singlePageInline" data-title="Suspendisse et justo<br>by UXLiner" rel="nofollow">
            <div class="cbp-caption-defaultWrap"> <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=380%C3%97300&w=380&h=300" alt=""> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Suspendisse et justo</div>
                  <div class="cbp-l-caption-desc">by UXLiner</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item identity graphic print"> <a href="js/cubeportfolio/ajax-lightbox-gallery/project1.html" class="cbp-caption cbp-singlePageInline" data-title="Suspendisse et justo<br>by UXLiner" rel="nofollow">
            <div class="cbp-caption-defaultWrap"> <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=380%C3%97300&w=380&h=300" alt=""> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Suspendisse et justo</div>
                  <div class="cbp-l-caption-desc">by UXLiner</div>
                </div>
              </div>
            </div>
            </a> </div>
          <div class="cbp-item motion print logos web-design"> <a href="js/cubeportfolio/ajax-lightbox-gallery/project1.html" class="cbp-caption cbp-singlePageInline" data-title="
            " rel="nofollow">
            <div class="cbp-caption-defaultWrap"> <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=380%C3%97300&w=380&h=300" alt=""> </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <div class="cbp-l-caption-title">Suspendisse et justo</div>
                  <div class="cbp-l-caption-desc">by UXLiner</div>
                </div>
              </div>
            </div>
            </a> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end features section 5 -->
  
  <div class="section-lg m-top8">
    <div class="two-boxes-bgimg">
      <div class="container">
        <div class="col-md-6 left-padd0 right-padd4 m-bottom3">
          <h2 class="font-slim-xs font40 uppercase">Why choose us ?</h2>
          <div class="title-line wide50 color m-top1"></div>
          <p class="m-bottom2">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
          <div class="col-md-12 m-bottom2 nopadding">
            <div class="content-feature-col one">
              <div class="icon-box-col"> <span class="icon-layers"></span> </div>
              <div class="left-padd10">
                <h2 class="font-black font20 uppercase m-bottom1">Well Organized</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 m-bottom2 nopadding">
            <div class="content-feature-col active one">
              <div class="icon-box-col"> <span class="icon-cup"></span> </div>
              <div class="left-padd10">
                <h2 class="font-black font20 uppercase m-bottom1">Easy to use</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 m-bottom2 nopadding">
            <div class="content-feature-col one">
              <div class="icon-box-col"> <span class="icon-call-out"></span> </div>
              <div class="left-padd10">
                <h2 class="font-black font20 uppercase m-bottom1">24/7 Support</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam aperiam.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 nophone no-right-padd m-left85"></div>
      </div>
    </div>
  </div>
  <!-- end features section 6 -->
  
  <div class="section-lg m-top6">
    <div class="container">
      <h2 class="font-slim-xs font40 uppercase">From Our blog</h2>
      <p class="font18">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat aliquip ex.</p>
      <div class="title-line wide50 color m-top1"></div>
      <div class="row">
        <div class="col-md-4 col-sm-6 m-bottom4 m-top1">
          <div class="post-img"><img class="img-responsive" alt="" src="https://placeholdit.imgix.net/~text?txtsize=50&txt=600%C3%97400&w=600&h=400"></div>
          <div class="small-thumb"><img class="img-responsive" alt="" src="https://placeholdit.imgix.net/~text?txtsize=50&txt=76%C3%9776&w=76&h=76"></div>
          <div class="col-post-dis noleftpad">
            <p class="font13 font-grey m-top1"><i class="fa fa-calendar blue"></i> December 26, 2015</p>
            <h2 class="m-top1">Nullam turpis Cras</h2>
            <p class="m-top1 m-bottom2">Et harum quidem rerum facilis est et expedita distinctio quas molestias is excepturi sint the Lorem ipsum dolor sit amet do eiusmod.</p>
            <div class="title-line color m-top2"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 m-bottom4 m-top1">
          <div class="post-img"><img class="img-responsive" alt="" src="https://placeholdit.imgix.net/~text?txtsize=50&txt=600%C3%97400&w=600&h=400"></div>
          <div class="small-thumb"><img class="img-responsive" alt="" src="https://placeholdit.imgix.net/~text?txtsize=50&txt=76%C3%9776&w=76&h=76"></div>
          <div class="col-post-dis noleftpad">
            <p class="font13 font-grey m-top1"><i class="fa fa-calendar blue"></i> December 26, 2015</p>
            <h2 class="m-top1">Nullam turpis Cras</h2>
            <p class="m-top1 m-bottom2">Et harum quidem rerum facilis est et expedita distinctio quas molestias is excepturi sint the Lorem ipsum dolor sit amet do eiusmod.</p>
            <div class="title-line color m-top2"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 m-bottom4 m-top1">
          <div class="post-img"><img class="img-responsive" alt="" src="https://placeholdit.imgix.net/~text?txtsize=50&txt=600%C3%97400&w=600&h=400"></div>
          <div class="small-thumb"><img class="img-responsive" alt="" src="https://placeholdit.imgix.net/~text?txtsize=50&txt=76%C3%9776&w=76&h=76"></div>
          <div class="col-post-dis noleftpad">
            <p class="font13 font-grey m-top1"><i class="fa fa-calendar blue"></i> December 26, 2015</p>
            <h2 class="m-top1">Nullam turpis Cras</h2>
            <p class="m-top1 m-bottom2">Et harum quidem rerum facilis est et expedita distinctio quas molestias is excepturi sint the Lorem ipsum dolor sit amet do eiusmod.</p>
            <div class="title-line color m-top2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end features section 7 -->
  <footer-plus-sim>
    
  </footer-plus-sim>
  <!-- end footer -->
</div>
<!-- end site wrapper -->

 

<a href="#" class="scrollup"></a> 
<!-- end scroll to top of the page--> 
