<div class="page-header five"  [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
  <div class="container" >
      <div class="col-md-6 left-padd0" >
        <h3 class="font30 nomargin white uppercase">{{'LABELS.ACTIVATE' | translate}}</h3>
        <h4 class="font18 white font-thin">{{'LABELS.ACTIVATE_HEADER_TEXT' | translate}}</h4>
      </div>
      <div class="col-md-6" >
        <div class="pagenation"><a [routerLink]="'/'">Home</a> <i>/</i>{{'LABELS.PAGE' | translate}}</div>
      </div>
  </div>
</div>
<div class="section-lg one">
    <div class="container">
      <div class="row">
        <div class="reg_form">
          <form class="sky-form" id="sky-form">
            <header>Don't have an Account? Register Now!</header>
            <fieldset>
              <section>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" placeholder="Username" name="username">
                  <b class="tooltip tooltip-bottom-right">Needed to enter the website</b> </label>
              </section>
              <section>
                <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                  <input type="email" placeholder="Email address" name="email">
                  <b class="tooltip tooltip-bottom-right">Needed to verify your account</b> </label>
              </section>
              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" id="password" placeholder="Password" name="password">
                  <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
              </section>
              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" placeholder="Confirm password" name="passwordConfirm">
                  <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
              </section>
            </fieldset>
            <fieldset>
              <div class="row">
                <section class="col col-6">
                  <label class="input">
                    <input type="text" placeholder="First name" name="firstname">
                  </label>
                </section>
                <section class="col col-6">
                  <label class="input">
                    <input type="text" placeholder="Last name" name="lastname">
                  </label>
                </section>
              </div>
              <section>
                <label class="select">
                  <select name="gender">
                    <option disabled="" selected="" value="0">Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                  </select>
                  <i></i> </label>
              </section>
              <section>
                <label class="checkbox">
                  <input type="checkbox" id="subscription" name="subscription">
                  <i></i>I want to receive news and  special offers</label>
                <label class="checkbox">
                  <input type="checkbox" id="terms" name="terms">
                  <i></i>I agree with the Terms and Conditions</label>
              </section>
            </fieldset>
            <footer>
              <button class="btn button" type="submit">Submit</button>
            </footer>
          </form>
        </div>
        <form class="sky-form sky-form-modal" id="sky-form2" action="demo-recovery.php">
          <header>Password recovery</header>
          <fieldset>
            <section>
              <label class="label">E-mail</label>
              <label class="input"> <i class="icon-append icon-user"></i>
                <input type="email" id="email" name="email">
              </label>
            </section>
          </fieldset>
          <footer>
            <button class="button eight" name="submit" type="submit">Submit</button>
            <a class="button button-secondary modal-closer" href="#">Close</a> </footer>
          <div class="message"> <i class="icon-ok"></i>
            <p>Your request successfully sent!<br>
              <a class="modal-closer" href="#">Close window</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>