<div id="aboutUs" class="section-lg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 m-bottom4">
                <img src="https://placeholdit.imgix.net/~text?txtsize=50&amp;txt=570%C3%97500&amp;w=570&amp;h=500" alt="" class="img-responsive"> </div>
            <div class="col-sm-6 text-center m-top5">
                <h4 class="font-thin font35 nomargin great-vibes">{{'LABELS.ABOUT_US_TITLE' | translate}}</h4>
                <h2 class="font-thin font35 nomargin">{{'LABELS.ABOUT_US_TITLE_SUB' | translate}}</h2>
                <p class="m-top4">{{'LABELS.WHO_WE_ARE' | translate}}</p>
            </div>
        </div>
    </div>
</div>