<div class="page-header five"  [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
  <div class="container" >
      <div class="col-md-6 left-padd0" >
        <h3 class="font30 nomargin white uppercase">{{'LABELS.WHERE_BUY_TITLE' | translate}}</h3>
        <h4 class="font18 white font-thin">{{'LABELS.WHERE_BUY_TITLE_SUB' | translate}}</h4>
      </div>
      <div class="col-md-6" >
          <div class="pagenation">
            <a [routerLink]="'/'">Home</a><i>/</i>
            <a [routerLink]="'/checkActivation'">{{'LABELS.CHECK_ACTIVATION' | translate}}</a><i>/</i>
            {{'LABELS.CHOOSE_BUY_PAGE' | translate}}
          </div>
      </div>
  </div>
</div>

<wherebuy></wherebuy>