:host{

    .cart-info-box{
        color: #999;
    }

    .nav > li > a {
        padding: 25px 10px !important;
    }
    .dropdown:hover{
        cursor: pointer !important;
    }

    #navbar-collapse li{
        font-size: 12px;
    }

    .navbar-brand{
        cursor: pointer !important;
    }
    .navbar-header{
        top: 8px;
    }
.mobile-header{
    height: 85px;
    .navbar-header{
        padding: 10px;
    }

    .navbar-collapse.pull-right.collapse.in{
        margin-top: 75px;
        padding-left: 10px;
        padding-right: 10px; 
    }

}

}