<header class="header whitebg headr-style-1  {{isMobile() ? 'mobile-header' : ''}}">
  <div class="container">
    <!-- Menu -->
    <div class="navbar yamm navbar-default">
      <div class="container">
        <div class="navbar-header">
          <span type="button" (click)="sideNaveBar.toggle()" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </span>
          <a (click)="backToIndex($event);" class="navbar-brand logo"></a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse pull-right">
          <nav>
            <ul class="nav navbar-nav">

              <li class="dropdown" *ngFor="let parent of parentMenus">
                <a class="dropdown-toggle" [routerLink]="parent.link">
                  {{parent.title | translate}}
                  <i *ngIf="parent.children" class="fa fa-angle-down"></i>
                </a>
                <ul role="menu" class="dropdown-menu">
                  <li *ngFor="let child of parent.children">
                    <a [routerLink]="child.link">
                      {{child.title | translate}}
                    </a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle">
                  <img class="flag mr-16" [src]="'assets/images/flags/'+selectedLang.flag+'.png'">
                  <span class="iso">{{selectedLang.title}}</span>
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul role="menu" class="dropdown-menu right-margin">
                  <li *ngFor="let lang of langs">
                    <a fxLayout="row" fxLayoutAlign="start center" (click)="changeLang($event, lang)">
                      <img class="flag mr-16" [src]="'assets/images/flags/'+lang.flag+'.png'">
                      <span class="iso">{{lang.title}}</span>
                    </a>

                    <div fxLayout="row" fxLayoutAlign="start center">
                    </div>
                  </li>
                </ul>
              </li>

              <li class="dropdown cart">
                <a [routerLink]="'/comingSoon'" class="dropdown-toggle">
                  <i class="fa fa-shopping-cart"></i> {{getItemsCart()}} item(s) :
                  <span class="font-bold">$0.00</span>
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul role="menu" class="dropdown-menu cart-info-box right-margin one">
                  <li>
                    <div class="wrapp-minicart">
                      <div class="mini-cart">
                        <h5>{{'LABELS.HEADER.CART.RECENT_ITEMS' | translate}}</h5>
                        <ul class="minicart-content">
                        </ul>
                        <div class="cart-checkout">
                          <div class="price-total">
                            <span class="label-price-total">
                              Total:
                            </span>
                            <span class="red font-bold">
                              $0.00
                            </span>
                          </div>
                          <div class="cart-links">
                            <div class="button text-center">
                              <a class="btn black-button small uppercase" [routerLink]="'/comingSoon'" >
                                View Cart
                              </a>
                              <a class="btn black-button small uppercase" [routerLink]="'/comingSoon'" >
                                Check Out
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>


            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>