<div class="page-header five"  [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
  <div class="container" >
      <div class="col-md-6 left-padd0" >
        <h3 class="font30 nomargin white uppercase">{{'LABELS.ACTIVATE' | translate}}</h3>
        <h4 class="font18 white font-thin">{{'LABELS.ACTIVATE_HEADER_TEXT' | translate}}</h4>
      </div>
      <div class="col-md-6" >
        <div class="pagenation"><a [routerLink]="'/'">Home</a> <i>/</i>{{'LABELS.PAGE' | translate}}</div>
      </div>
  </div>
</div>
<div class="section-lg one">
    <div class="container">
      <div class="row">
        <div class="login_form">
          <form novalidate="novalidate" action="index.html" id="sky-form" class="sky-form">
            <header class="font-slim">Login form</header>
            <fieldset>
              <section>
                <div class="row">
                  <label class="label col col-4">E-mail</label>
                  <div class="col col-8">
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <input type="email" name="email">
                    </label>
                  </div>
                </div>
              </section>
              <section>
                <div class="row">
                  <label class="label col col-4">Password</label>
                  <div class="col col-8">
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <input type="password" name="password">
                    </label>
                    <div class="note"><a href="#sky-form2" class="modal-opener">Forgot password?</a></div>
                  </div>
                </div>
              </section>
              <section>
                <div class="row">
                  <div class="col col-4"></div>
                  <div class="col col-8">
                    <label class="checkbox">
                      <input type="checkbox" name="remember" checked="">
                      <i></i>Keep me logged in</label>
                  </div>
                </div>
              </section>
            </fieldset>
            <footer>
              <div class="fright"> <a href="register.html" class="button button-secondary">Register</a>
                <button type="submit" class="button">Log in</button>
              </div>
            </footer>
          </form>
        </div>
        <form novalidate="novalidate" action="demo-recovery.php" id="sky-form2" class="sky-form sky-form-modal">
          <header>Password recovery</header>
          <fieldset>
            <section>
              <label class="label">E-mail</label>
              <label class="input"> <i class="icon-append icon-user"></i>
                <input type="email" name="email" id="email">
              </label>
            </section>
          </fieldset>
          <footer>
            <button type="submit" name="submit" class="button">Submit</button>
            <a href="#" class="button button-secondary modal-closer">Close</a> </footer>
          <div class="message"> <i class="icon-ok"></i>
            <p>Your request successfully sent!<br>
              <a href="#" class="modal-closer">Close window</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>