<div class="section-lg light-grey-bg m-top2">
    <div class="container">

        <h2 class="font-slim-xs font-black font40 uppercase">
            {{'LABELS.TITLE_WHERE' | translate}}
        </h2>

        <div class="title-line wide50 color m-top2"></div>
        
        <div class="row">

            <div class="col-md-4 col-sm-6 m-bottom4" [@animate]="{value:'10',params:{duration:'800ms',x:'-100%'}}">
                <div class="content-feature-col one scrollupBtn" [routerLink]="'/store'">
                    <div class="icon-box-col">
                        <span class="icon-basket-loaded"></span>
                    </div>
                    <div class="left-padd10">
                        <h2 class="font-black font20 uppercase m-bottom1">
                            {{'LABELS.BUY_ONLINE.TITLE' | translate}}
                        </h2>
                        <div class="title-line color m-top2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 m-bottom4" [@animate]="{value:'10',params:{duration:'800ms',y:'-100%'}}">
                <div class="content-feature-col two" [routerLink]="'/customers'">
                    <div class="icon-box-col">
                        <span class="icon-directions"></span>
                    </div>
                    <div class="left-padd10">
                        <h2 class="font-black font20 uppercase m-bottom1">
                            {{'LABELS.BUY_WITH_CUSTUMER.TITLE' | translate}}
                        </h2>
                        <div class="title-line color m-top2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 m-bottom4" [@animate]="{value:'10',params:{duration:'800ms',x:'100%'}}">
                <div class="content-feature-col three" [routerLink]="'/ourlocation'">
                    <div class="icon-box-col">
                        <span class="icon-tag"></span>
                    </div>
                    <div class="left-padd10">
                        <h2 class="font-black font20 uppercase m-bottom1">
                            {{'LABELS.BUY_WITH_US.TITLE' | translate}}
                        </h2>
                        <div class="title-line color m-top2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>