<div id="customers" class="bg-work-with-us one m-top8">
    <div class="container">
        <div class="">
            <h2 class="font50 text-center white m-bottom3 font-slim-xs">
                <span class="blue font-slim"></span>
                {{'LABELS.WORK.WITH.US.TITLE' | translate}}
            </h2>
            <div class="col-md-11 sec-auto-margin font-slim-xs font25 text-center m-bottom6 white">
                {{'LABELS.WORK.WITH.US.DESC' | translate}}
            </div>
            <div class="button animate-in text-center" data-anim-type="fade-in-up" 
                 data-anim-delay="100">
                <a class="btn whte-border font20 font-thin" 
                   [routerLink]="'concact'">
                    {{'LABELS.CALL.US' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>